<section class="header">
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
        >
          <svg
            class="bi me-2"
            width="40"
            height="32"
            role="img"
            aria-label="Bootstrap"
          >
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li>
            <h1>Gestion autos</h1>
          </li>
        </ul>
        <form
          class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
          role="search"
        ></form>
        <div class="dropdown text-end">
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</section>

<section class="cuerpo">
  <div class="container col-sm-6 mb-4 mt-5">
    <h2 class="mx-a text-center">Registro de Usuarios</h2>
  </div>

  <div class="container col-sm-3">
    <form #formulario="ngForm" (ngSubmit)="agregarUsuario()" novalidate>
      <div class="mb-3">
        <label for="identificación" class="form-label">Identificación</label>
        <input
          [(ngModel)]="id"
          type="text"
          class="form-control"
          id="id"
          aria-describedby="id"
          required="True"
          name="id"
        />
        <div id="idHelp" class="form-text">
          Ingresa tu numero de identificación sin puntos ni espacios.
        </div>
      </div>

      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          [(ngModel)]="nombre"
          type="text"
          class="form-control"
          id="nombre"
          aria-describedby="nombre"
          required="True"
          name="nombre"
        />
      </div>

      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input
          [(ngModel)]="apellido"
          type="text"
          class="form-control"
          id="apellido"
          aria-describedby="apellido"
          required="True"
          name="apellido"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          [(ngModel)]="email"
          type="email"
          class="form-control"
          id="email"
          aria-describedby="email"
          required="True"
          name="email"
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          [(ngModel)]="password"
          type="password"
          class="form-control"
          id="password"
          aria-describedby="password"
          required="True"
          name="password"
        />
      </div>
      <div class="d-flex justify-content-center gap-3 mt-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!formulario.valid"
        >
          Crear Usuario
        </button>

        <button class="btn btn-secondary" (click)="irLogin()">
          Ir a login
        </button>
      </div>
    </form>
  </div>
</section>
