<!--Ruta de prueba que lista los usuario y los elimina si asi lo deseamos-->
<h2>Lista de Usuarios</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let usuario of usuarios">
      <th scope="row">{{usuario.id}}</th>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.email}}</td>
      <td><button class="btn btn-danger" (click)="eliminarUsuario(usuario.id)">Eliminar</button></td>
    </tr>
  </tbody>
</table>
